@{
    ViewBag.Title = "Error Connecting Trello";
}

<h2>Error Connecting to Trello</h2>

<p>We seem to have had a problem connecting to trello. Please try again later.</p>

<a href="/">Dashboards</a>

